.Main-Chat
  .RightTopItems
    .RightTopItems__GroupInfo
      .RightTopItems__GroupInfo__Name
      = @group.name
      .RightTopItems__GroupInfo__Mask
        .RightTopItems__GroupInfo__Mask__Member Member :  
        .RightTopItems__GroupInfo__Mask__Members
          - @group.group_users.each do |group_user| 
            = group_user.user.name
    = link_to "/groups/#{@group.id}/edit" do
      .RightTopItems__Edit Edit

  .ChatRoom
    - @messages.each do |message|
      = render partial: "messages", locals: { message: message }
      
  .BottomItems
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'