.SideBar
  .LeftTopItems
    .LeftTopItems__Info
      = current_user.name
      %p.LeftTopItems__Info__UserName
      .LeftTopItems__Info__Icon
        = link_to new_group_path do
          %i.far.fa-edit
        = link_to "/users/#{current_user.id}/edit" do
          %i.fa.fa-cog
  .Group-List
    - current_user.groups.each do |group|
      = link_to group_messages_path(group),class:"Group-List__Name" do
        .Group-List__Name
          = group.name
        .Group-List__Message
          = group.show_last_message