.SideBar
  .LeftTopItems
    .LeftTopItems__Info
      = current_user.name
      %p.LeftTopItems__Info__UserName
      .LeftTopItems__Info__Icon
        = link_to "/users/#{current_user.id}/edit" do
          %i.far.fa-edit
        = link_to "/users/#{current_user.id}/edit" do
          %i.fa.fa-cog
  .Group-List
    %ul
      %li.Group-List__Name techcamp
      %p.Group-List__Message まだメッセージがありません
      %li.Group-List__Name techcamp
      %p.Group-List__Message まだメッセージがありません
